$green: #b2e281;
$white: #ffffff;
$black: #000000;
$gray: #eeeeee;
$orange: #FF672E;
*,
*:before,
*:after {
  box-sizing: border-box;
}

.chat {
  .chat-history {
    padding: 10px 10px;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    bottom: 36px;
    width: 100%;
    background: $gray;
    .message {
      padding: 9px 13px;
      line-height: 40px;
      font-size: 14px;
      border-radius: 7px;
    }
    .myMessage {
      text-align: right;
      span {
        background: $green;
      }
    }
    .otherMessage {
      text-align: left;
      span {
        background: $white;
      }
    }
  }
  .chat-message {
    .input-group-addon {
      color: $black;
      background: $orange;
    }
    .form-control {
      color: $black;
    }
  }
}


